<!-- NAVBAR -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- agrupar para mobile -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-submenu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Questões", questions_path, class: 'navbar-brand' %>
    </div>

    <!-- links da navbar -->
    <div class="collapse navbar-collapse navbar-submenu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn">
            <%= link_to questions_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
            <% end %>

            <%= link_to edit_question_path(@question), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
            <% end %>
          </p>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- /NAVBAR -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="description">
        <p><strong>Questão:</strong></p>
        <%= raw @question.description %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr>
      <div class="explanation">
        <p><strong>Explicação:</strong></p>
        <%= raw @question.explanation %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr>
      <h3>Alternativas</h3>
      <% @question.choices.each do |choice| %>
        <p class="btn btn-default form-control alt <%= 'btn-success' if choice.correct %>"><%= choice.description %></p>
      <% end %>
    </div>
  </div>
</div>