<!-- NAVBAR -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- agrupar para mobile -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-submenu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Quizzes", quizzes_path, class: 'navbar-brand' %>
    </div>
  
    <!-- links da navbar -->
    <div class="collapse navbar-collapse navbar-submenu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn">
          <%= link_to quizzes_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
          <% end %>

          <%= link_to clean_quiz_path(@quiz.id), data: {confirm: 'Você tem certeza?'}, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Limpar dados dos participantes
          <% end %>          

          <%= link_to edit_quiz_path(@quiz), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Editar
          <% end %>
          </p>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- /NAVBAR -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="well">
        <%= @quiz.name %>
      </h3>
      <p><strong>Número de questões:</strong> <%= @quiz.questions.count %></p>
      <p><strong>Número de participantes:</strong> <%= @user_quizzes.count %></p>
      <hr>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="well"><strong>Participantes</strong></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Corretas</th>
            <th>Incorretas</th>
            <th>Corretas (%)</th>
            <th>Incorretas (%)</th>
          </tr>
        </thead>

        <tbody>
          <% @user_quizzes.each do |user_quiz| %>
            <tr>
              <td><%= user_quiz.user.name %></td>
              <td><%= user_quiz.user.email %></td>
              <td><%= user_quiz.total_correct %></td>
              <td><%= user_quiz.total_wrong %></td>
              <td><%= user_quiz.percent_correct %>%</td>
              <td><%= user_quiz.percent_wrong %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="well"><strong>Questões</strong></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Questões</th>
            <th>Corretas</th>
            <th>Incorretas</th>
            <th>Corretas (%)</th>
            <th>Incorretas (%)</th>
          </tr>
        </thead>

        <tbody>
          <% @quiz.questions.each do |question| %>
            <% statistics = question.statistics %>
            <tr>
              <td><%= truncate(question.description, length: 100, separator: '...') %></td>
              <td><%= statistics[:corrects] %></td>
              <td><%= statistics[:wrongs] %></td>
              <td><%= statistics[:percent_correct] %>%</td>
              <td><%= statistics[:percent_wrong] %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>